.lightButtons{
    -fx-background-color: #354639;
}

.darkButtons{
    -fx-background-color: #b4cfb4;
}

#A1{
    -fx-background-image: url(pngTabuleiro/A1.png);
    -fx-background-size: cover;
}
#A2{
    -fx-background-image: url(pngTabuleiro/A2.png);
    -fx-background-size: cover;
}

#A3{
    -fx-background-image: url(pngTabuleiro/A3.png);
    -fx-background-size: cover;
}

#A4{
    -fx-background-image: url(pngTabuleiro/A4.png);
    -fx-background-size: cover;
}

#A5{
    -fx-background-image: url(pngTabuleiro/A5.png);
    -fx-background-size: cover;
}

#A6{
    -fx-background-image: url(pngTabuleiro/A6.png);
    -fx-background-size: cover;
}

#A7{
    -fx-background-image: url(pngTabuleiro/A7.png);
    -fx-background-size: cover;
}

#A8{
    -fx-background-image: url(pngTabuleiro/A8.png);
    -fx-background-size: cover;
}

#B1{
    -fx-background-image: url(pngTabuleiro/B1.png);
    -fx-background-size: cover;
}

#B2{
    -fx-background-image: url(pngTabuleiro/B2.png);
    -fx-background-size: cover;
}

#B3{
    -fx-background-image: url(pngTabuleiro/B3.png);
    -fx-background-size: cover;
}

#B4{
    -fx-background-image: url(pngTabuleiro/B4.png);
    -fx-background-size: cover;
}

#B5{
    -fx-background-image: url(pngTabuleiro/B5.png);
    -fx-background-size: cover;
}

#B6{
    -fx-background-image: url(pngTabuleiro/B6.png);
    -fx-background-size: cover;
}

#B7{
    -fx-background-image: url(pngTabuleiro/B7.png);
    -fx-background-size: cover;
}

#B8{
    -fx-background-image: url(pngTabuleiro/B8.png);
    -fx-background-size: cover;
}

#C1{
    -fx-background-image: url(pngTabuleiro/C1.png);
    -fx-background-size: cover;
}

#C2{
    -fx-background-image: url(pngTabuleiro/C2.png);
    -fx-background-size: cover;
}

#C3{
    -fx-background-image: url(pngTabuleiro/C3.png);
    -fx-background-size: cover;
}

#C4{
    -fx-background-image: url(pngTabuleiro/C4.png);
    -fx-background-size: cover;
}

#C5{
    -fx-background-image: url(pngTabuleiro/C5.png);
    -fx-background-size: cover;
}

#C6{
    -fx-background-image: url(pngTabuleiro/C6.png);
    -fx-background-size: cover;
}

#C7{
    -fx-background-image: url(pngTabuleiro/C7.png);
    -fx-background-size: cover;
}

#C8{
    -fx-background-image: url(pngTabuleiro/C8.png);
    -fx-background-size: cover;
}

#D1{
    -fx-background-image: url(pngTabuleiro/D1.png);
    -fx-background-size: cover;
}

#D2{
    -fx-background-image: url(pngTabuleiro/D2.png);
    -fx-background-size: cover;
}

#D3{
    -fx-background-image: url(pngTabuleiro/D3.png);
    -fx-background-size: cover;
}

#D4{
    -fx-background-image: url(pngTabuleiro/D4.png);
    -fx-background-size: cover;
}

#D5{
    -fx-background-image: url(pngTabuleiro/D5.png);
    -fx-background-size: cover;
}

#D6{
    -fx-background-image: url(pngTabuleiro/D6.png);
    -fx-background-size: cover;
}

#D7{
    -fx-background-image: url(pngTabuleiro/D7.png);
    -fx-background-size: cover;
}

#D8{
    -fx-background-image: url(pngTabuleiro/D8.png);
    -fx-background-size: cover;
}

#E1{
    -fx-background-image: url(pngTabuleiro/E1.png);
    -fx-background-size: cover;
}

#E2{
    -fx-background-image: url(pngTabuleiro/E2.png);
    -fx-background-size: cover;
}

#E3{
    -fx-background-image: url(pngTabuleiro/E3.png);
    -fx-background-size: cover;
}

#E4{
    -fx-background-image: url(pngTabuleiro/E4.png);
    -fx-background-size: cover;
}

#E5{
    -fx-background-image: url(pngTabuleiro/E5.png);
    -fx-background-size: cover;
}

#E6{
    -fx-background-image: url(pngTabuleiro/E6.png);
    -fx-background-size: cover;
}

#E7{
    -fx-background-image: url(pngTabuleiro/E7.png);
    -fx-background-size: cover;
}

#E8{
    -fx-background-image: url(pngTabuleiro/E8.png);
    -fx-background-size: cover;
}

#F1{
    -fx-background-image: url(pngTabuleiro/F1.png);
    -fx-background-size: cover;
}

#F2{
    -fx-background-image: url(pngTabuleiro/F2.png);
    -fx-background-size: cover;
}

#F3{
    -fx-background-image: url(pngTabuleiro/F3.png);
    -fx-background-size: cover;
}

#F4{
    -fx-background-image: url(pngTabuleiro/F4.png);
    -fx-background-size: cover;
}

#F5{
    -fx-background-image: url(pngTabuleiro/F5.png);
    -fx-background-size: cover;
}

#F6{
    -fx-background-image: url(pngTabuleiro/F6.png);
    -fx-background-size: cover;
}

#F7{
    -fx-background-image: url(pngTabuleiro/F7.png);
    -fx-background-size: cover;
}

#F8{
    -fx-background-image: url(pngTabuleiro/F8.png);
    -fx-background-size: cover;
}

#G1{
    -fx-background-image: url(pngTabuleiro/G1.png);
    -fx-background-size: cover;
}

#G2{
    -fx-background-image: url(pngTabuleiro/G2.png);
    -fx-background-size: cover;
}

#G3{
    -fx-background-image: url(pngTabuleiro/G3.png);
    -fx-background-size: cover;
}

#G4{
    -fx-background-image: url(pngTabuleiro/G4.png);
    -fx-background-size: cover;
}

#G5{
    -fx-background-image: url(pngTabuleiro/G5.png);
    -fx-background-size: cover;
}

#G6{
    -fx-background-image: url(pngTabuleiro/G6.png);
    -fx-background-size: cover;
}

#G7{
    -fx-background-image: url(pngTabuleiro/G7.png);
    -fx-background-size: cover;
}

#G8{
    -fx-background-image: url(pngTabuleiro/G8.png);
    -fx-background-size: cover;
}

#H1{
    -fx-background-image: url(pngTabuleiro/H1.png);
    -fx-background-size: cover;
}

#H2{
    -fx-background-image: url(pngTabuleiro/H2.png);
    -fx-background-size: cover;
}

#H3{
    -fx-background-image: url(pngTabuleiro/H3.png);
    -fx-background-size: cover;
}

#H4{
    -fx-background-image: url(pngTabuleiro/H4.png);
    -fx-background-size: cover;
}

#H5{
    -fx-background-image: url(pngTabuleiro/H5.png);
    -fx-background-size: cover;
}

#H6{
    -fx-background-image: url(pngTabuleiro/H6.png);
    -fx-background-size: cover;
}

#H7{
    -fx-background-image: url(pngTabuleiro/H7.png);
    -fx-background-size: cover;
}
#H8{
    -fx-background-image: url(pngTabuleiro/H8.png);
    -fx-background-size: cover;
}
